#set($hello='hihi hello')

$hello  veloctiy

<br>
#foreach($cookie in $request.getCookies())
    $cookie.name : $cookie.value
#end
<hr/>
#foreach($entity in $entitys)
    $entity.name   -----   $entity.type  <br/>
#end

<br>
$!request.getParameter('para')